.main-container {
  padding: 4rem;
  height: 100vh;
}

.app-container {
  margin: 0 auto;
  padding: 1rem 1rem;
  width: 100%;
  max-width: 750px;
  height: 100%;
  background-color: #567090;
  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

.main-header-item {
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
}

.main-title {
  color: #FFBF00;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1 0 auto;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

.main-content-bg {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0.185);
}

.main-footer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.main-footer-button-group {
  display: flex;
  gap: 0.75rem;
  margin-top: auto;
  margin-left: auto;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.settings-button {
  width: 40px
}

.settings-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.settings-button:active {
  transform: scale(0.95);
}

.column-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

@media only screen and (max-height: 1000px) {
  .main-container {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 750px) {
  .main-container {
    padding: 0;
    margin-bottom: 0;
  }

  .main-content {
    margin: 0;
  }

  .app-container {
    width: '100%';
  }

  .main-footer-logo {
    display: none;
  }
}

