.vtfk-select {
  position: relative;
  flex: 1 1 0;
  width: 100%;
  min-width: 200px;

  & > label {
    margin-left: 0.9rem;
    margin-bottom: 0.25rem;
    // display: inline-block;
    // transform: translateX(5px);

    &[required]::before {
      position: absolute;
      top: 0px;
      left: 0.2rem;
      content: '*';
      color: red;
    }
  }

  &.disabled {
    cursor: not-allowed!important;
    pointer-events: none;
    opacity: 0.6;
  }

  & > button {
    /* Remove default button styling */
    max-width: none;
    border: none;
    box-shadow: none;
    background: none;
    user-select: none;

    width: 100%;
    padding: 0.75rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 0.5px 5px -0.5px #1f1f1f93;

    &.required::before {
      position: absolute;
      top: -5px;
      left: -2px;
      content: '*';
      color: red;
    }

    &.rounded {
      background-color: white;
      border-radius: 20px;
      border: none;
    }


  }

  .item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .item:hover {
    background-color: lightblue;
  }
}

.vtfk-select-content {
  width: 100%;
  text-align: left;

  .placeholder {
    font-size: 16px;
    color: gray;
    font-style: italic;
  }
}

.vtfk-select-button-group {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  &> .icon:hover {
    transform: scale(1.25);
  }
}

.vtfk-select-popup {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 2.75rem;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 0.5px 5px -0.5px #1f1f1f;
  z-index: 50;

  .no-data {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
  }
}