.history-input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 1rem;
}

.header-search {
  width: 100%;
  flex: 1 1 0;
  min-width: 200px;
}